<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chiller Plant Report</title>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"/>
</head>
<body>
<h1> PLANT REPORT</h1>
            <table id="userTable">
                 <thead>
                    <th>Tag ID</th>
                    <th>Time Record</th>
                    <th>Flow</th>
                    <th>Energy</th>
                    <th>Chiller Eff</th>
                    <th>Level</th>
                    <th>Pressure</th>
                    <th>Temperature</th>

                <tbody>
                        {% for i in arr_users %}
                            <tr>
                                <td>{{i.ID}}</td>
                                <td>{{i.TIME}}</td>
                                <td>{{i.FLOW}}</td>
                                <td>{{i.ENERGY}}</td>
                                <td>{{i.CHEFF}}</td>
                                <td>{{i.LEVEL}}</td>
                                <td>{{i.PRESS}}</td>
                                <td>{{i.TEMP}}</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function() {
                    $('#userTable').DataTable();
                });
            </script>

 </body>
</html>
